/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

.header_img{
  box-sizing: border-box;
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  padding: 15% 15%;
}

.header_img h1{
  color: white;
  font-size: 5rem;
  padding: 1rem;
  text-align: center;
  /*text-shadow: 2px 2px 4px #000000;*/
}

.introduction{
  padding: 3rem;
  text-align: justify;
  margin: 0 20px 0 20px;
}

.introduction p{
  font-size: 1.2rem;

}

.recipe-info, .cooking-info{
  text-align: center;
  margin-bottom: -2.5rem;
}

hr.solid {
  border-top: 3px solid #bbb;
  justify-content: center;
  margin: 2.5rem 3rem;
}


h2, h3{
  padding: 0 0 0 3rem;
  font-size: 1.5rem;
}

.text{
  padding: 0 0 0 3.5rem;

}

.text ul{
  list-style: none;
}
